/* Шрифты */

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/rubik/rubik-400.woff2') format('woff2');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/rubik/rubik-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('/fonts/rubik/rubik-800.woff2') format('woff2');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('/fonts/raleway/raleway-800.woff2') format('woff2');
}

/* Общие стили */

h2,
h3,
p {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'RubiK', 'Arial', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #444444;
    display: flex;
    flex-direction: column;
}

.text-catalog {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.text-link {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.text-title {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.text-subtitle {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
}

.wrapper {
    margin: 0 auto;
    max-width: 1160px;
    width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main {
    flex-grow: 1;
}

/* Шапка */

.header {
    background-color: #FFE17F;
    margin-top: 40px;
}

.header__wrapper {
    position: relative;
}

.header__logo {
    position: absolute;
    left: 61px;
    top: -72px;
}

.nav {
    margin-top: 49px;
    margin-bottom: 157px;
    display: flex;
    flex-direction: column;
}

.nav__user {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 60px;
}

.nav-user {
    padding-left: 0;
    list-style-type: none; 
    display: flex;
    flex-wrap: wrap;
}

.nav-user__item {
    min-height: 20px;
    min-width: 100px;
    line-height: 19px;
}

.nav-user__item:nth-child(2) {
    margin-left: 49px;
    min-width: 220px;
}

.nav-user__item:nth-child(3) {
    margin-left: 35px;
}

.nav-user__item:nth-child(4) {
    margin-left: 55px;
}

.nav-user__search {
    min-width: 480px;
    background-color: #FFE17F;
    border: none;
}

.nav-user__link {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #000000;
}

.nav-user--exit {
    padding-left: 28px;
    opacity: 0.3;
}

.nav__page {
    margin-top: 44px;
    margin-left: 60px;
    margin-bottom: 0;
}

.nav-page {
    padding-left: 0;
    list-style-type: none; 
    display: flex;
    flex-wrap: wrap;
}

.nav-page__item {
    min-width: 140px;
}

.nav-page__item:nth-child(1) {
    min-width: 236px;
}

.nav-page__item:nth-child(2) {
    margin-left: 304px;
}

.nav-page__item:nth-child(3) {
    margin-left: 19px;
}

.nav-page__item:nth-child(4) {
    margin-left: 62px;
}

.nav-page__item--catalog {

}

/* .nav-page__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.3);
    background-color: #FFE17F;
}

.nav-page__button::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-page__button::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    transform: rotate(90deg);
} */

.nav-page__link {

}

/* СТИЛИ ГЛАВНОЙ СТРАНИЦЫ */
/* Главный блок с популярным товаром */

.promo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.promo__slider {
    margin-top: -150px;
}

.slider {
    max-width: 560px;
    max-height: 560px;
    width: 100%;
}

.slider__button {

}

.slider__button--prev {

}

.slider__button--next {

}

.promo__description {
    margin-top: -29px;
}

.description {
    max-width: 560px;
    width: 100%;
}

.description__title {
    margin-bottom: 29px;
}

.description__text {
    margin-bottom: 50px;
}

.description__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.description__link {

}

.description__pagination-list {
    list-style-type: none;
    margin: 0;
    margin-right: 61px;
    padding: 0;
    min-width: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.description__item {
    display: flex;
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
}

.description__button {
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: 2px solid #000000;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.description__button--active {
    background-color: #000000;
}

.description__characteristics {
    margin-top: 0;
    margin-bottom: 0;
}

.characteristics {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.characteristics__item {
    max-width: 160px;
    width: 100%;
}

.characteristics__term {
    min-height: 52px;
    font-size: 36px;
    color: #000000;
}

.characteristics__definition {
    margin-top: -19px;
    font-size: 16px;
}

/* Каталог товаров */

.catalog {
    margin-bottom: 70px;
}

.catalog__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog__item {
    
}

.catalog__link {
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: none;
}

.catalog__img {
    background-color: #FFE17F; 
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 33px;
}

.catalog__img--selfie {
    align-items: flex-end;
}

.catalog__text {
    min-width: 160px;
    min-height: 60px;
}

/* Вкладка с дополнительной информацией */

.services {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 26%, rgba(240,240,240,1) 26%);
    margin-bottom: 90px;
}

.services__wrapper {
    display: flex;
    padding-bottom: 69px;
}

.services__nav {
    margin-right: 240px;
}

.services__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.services__item {
    display: block;
    min-width: 160px;
    text-align: center;
    line-height: 20px;
}

.services__item:first-child {
    margin-top: 89px;
}

.services__item:nth-child(n+1) {
    margin-bottom: 45px;
}

.services__item:last-child {
    margin-bottom: 0;
}


.services__item--active {

}

.services__link {

}

.services__content {

}

.services__description {
    max-width: 497px;
    width: 100%;
}

.services__title {
    margin-top: 70px;
    padding-bottom: 20px;
    margin-bottom: 14px;
}

.services__text {
    margin-bottom: 75px;
}

.services__img {

}

.services__img--delivery {

}

.services__img--guarantee {

}

.services__img--credit {

}

/* Блок специальная доставка */

.special-offer {
    margin-bottom: 97px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F0F0;
}

.special-offer__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.special-offer__img--wrapper {
    width: 125px;
    height: 100px;
    background-color: #FFE17F;
}

.special-offer__text {
    font-size: 20px;
    line-height: 23px;
}

.special-offer__reference {
    margin-right: 33px;
}

/* Блок о компании и контакты*/

.info-block {
    display: flex;
    justify-content: space-between;
}

.about-us,
.contacts {
    max-width: 560px;
    width: 100%;
    margin-bottom: 87px;
}

.about-us__title {
    margin-top: 49px;
    margin-bottom: 46px;
}

.about-us__description {
    margin-bottom: 30px;
}

.about-us__description:nth-child(3) {
    margin-bottom: 75px;
}

.about-us__list {
    margin: 0;
    margin-left: 34px;
    margin-bottom: 72px;
    padding-left: 0;
    list-style-type: none;
    font-weight: 700;
    color: #000000;
    line-height: 20px;
}

.about-us__item {

}

.about-us__link {

}

.contacts__title {
    margin-top: 49px;
    margin-bottom: 46px;
}

.contacts__description {
    margin-bottom: 30px;
}

.contacts__place {
    margin-bottom: 15px;
}

.place-and-time {
    font-size: 24px;
    font-weight: 700;
}

.contacts__address {
    font-style: normal;
    margin-bottom: 30px;    
}

.address__text {

}

.address__tel {
    color: #444444;
}

.contacts__time {
    margin-bottom: 15px;
}

.contacts__list {
    margin: 0;
    margin-bottom: 67px;
    padding-left: 0;
    list-style-type: none;
}

.contacts__item {

}

.contacts__link {

}

/* Блок с рассылкой */

.newsletter {
    background-color: #F0F0F0;
}

.newsletter__wrapper {

}

.newsletter__title {
    max-width: 560px;
}

.newsletter__description {
    max-width: 560px;
}

.newsletter__email {

}

.newsletter__submit {

}

.newsletter__list {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.newsletter__item {

}

/* Подвал */

.footer {
    background-color: #444444;
    color: #FFFFFF;
}

.footer__wrapper {
    margin-top: 62px;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 35px;
}

.footer__info {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.footer__address {
    font-size: 16px;
    line-height: 19px;
    max-width: 239px;
    font-style: normal;
}

.footer__nav {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
}

.footer__item {
    color: #ffffff;
    min-width: 148px;
}

.footer__item:nth-child(n+1) {
    margin-right: 7px;
}

.footer__item:last-child {
    margin-right: 0;
}

.footer__tel {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.footer__link {
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.link {

}

.link__item {

}


/* СТИЛИ КАТАЛОГА */
/* Хлебные крошки */

.breadcrumbs {
    list-style: none;
    padding-left: 0;
    display: flex;
}

.breadcrumbs__item {

}

.breadcrumbs__item:nth-child(n+2) {
    margin-left: 20px;
}

.breadcrumbs__link {
    text-decoration: none;
    opacity: 0.6;
}

/* Боковая панель (sidebar) */

.page-catalog {
    display: flex;
}

.sidebar {

}

.sidebar__title {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.sidebar__group {
    max-width: 328px;
    width: 100%;
}

.filt-group

.filt-group__title {

}

.filt-group__range-toggle {

}

.filt-group__range-toggle--min {

}

.filt-group__range-toggle--max {

}

.filt-group__label {

}

.filt-group__input {

}

.filt-group__list {

}

.filt-group__item {

}

.filt-group__control {

}

.filt-group__input {

}

.filt-group__mark {

}

.filt-group__label {

}

.sidebar__button {

}

/* Блок с карточками (content) */
/* Сортировка товаров по категориям */
.sorting {

}

.sorting__form {

}

.sorting__label {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.sorting__select {

}

.sorting__button {

}

.sorting__button--light {

}

/* Блок с карточками */

.product-card {

}

.product-card__list {
    list-style: none;
}

.product-card__item {

}

.product-card__link {
    text-decoration: none;
}

.product-card__img {

}

.product-card__title {
    line-height: 24px;
    letter-spacing: 0;
}

.product-card__price {
    line-height: 21px;
    color: #444444;
}

.product-card__details {

}

.button {
    font-size: 16px;
    line-height: 19px;
    background-color: #ffffff;
    border: 3px solid #000000;
    box-sizing: border-box;
    width: 760px;
    height: 55px;
}

/* Пагинация */

.pagination {
    list-style: none;
    max-width: 760px;
    width: 100%;
    padding-left: 0;
    background-color: #EBEBEB;
}

.pagination__item {

}

.pagination__link {
    color: #444444;
    opacity: 0.3;
    text-decoration: none;
}

.pagination__link--prev, 
.pagination__link--next {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    opacity: 1;
}

.pagination__link--disabled {

}

.pagination-current {

}