/* Шрифты */

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

/* Общие стили */

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "RubiK", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  display: flex;
  flex-direction: column;
}

.text-catalog {
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 1);
}

.text-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.text-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.text-subtitle {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.wrapper {
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

/* Шапка */

.header {
  background-color: #ffe17f;
  margin-top: 40px;
}

.header-catalog {
  margin-bottom: 37px;
}

.header__wrapper {
  padding: 39px 0 132px;
  position: relative;
}

.header__wrapper--catalog {
  padding: 39px 0 18px;
}

.header__logo {
  position: absolute;
  left: 61px;
  top: -23px;
  width: 145px;
  height: 36px;
  background: url('../img/main-logo.svg') no-repeat center center;
}

.header__logo--catalog {
  background: none;
}

.header__svg {
  border-radius: 10px;
  outline-offset: 5px;
  width: 145px;
  height: 36px;
}

.header__svg:hover {
  fill: #510094;
}

.header__svg:active {
  fill: #33015c;
}

.header__link:focus-visible {
  outline: none;
}

.header__link:focus-visible .header__svg {
  outline: 2px solid #af4fff;
}

.nav {
  margin: 0 40px 0 40px;
  display: flex;
  flex-direction: column;
}

.nav__user {
  margin-top: 0;
  margin-bottom: 19px;
}

.nav-user {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-user__form {
  line-height: 19px;
}

.nav-user__search {
  padding: 10px 180px 10px 56px;
  font-family: inherit;
  font-size: 16px;
  min-width: 516px;
  background-color: #ffe17f;
  border: none;
  box-sizing: border-box;
  background: url(../img/icon/icon-search.svg) no-repeat 20px center;
}

.nav-user__search::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.nav-user__search:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.nav-user__search:focus {
  outline: 2px solid #af4fff;
  border-radius: 20px;
}

.nav-user__search:not(:placeholder-shown) {
  outline: 2px solid #000000;
  border-radius: 20px;
}

.nav-user__button {
  display: none;
  position: absolute;
  top: 1px;
  left: 357px;
  padding: 10px 56px;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: 2px solid #000000;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.nav-user__search:not(:placeholder-shown) + .nav-user__button{
  display: block;
}

.nav-user__button:hover {
  background-color: #000000;
  color: rgba(255, 255, 255, 1);
}

.nav-user__button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.nav-user__button:focus-visible {
  outline: 2px solid #af4fff;
}

.nav-user__list {
  width: 100%;
  margin: 0 0 0 24px;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-user__item {
  line-height: 0;
}

.nav-user__item:first-child {
  min-width: 245px;
}

.nav-user__link {
  display: inline-block;
  padding: 10px 20px 11px 44px;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
}

.nav-user__link:hover {
  opacity: 0.6;
}

.nav-user__link:active {
  opacity: 0.3;
}

.nav-user__link:focus-visible {
  outline: 2px solid #af4fff;
  border-radius: 20px;
}

.nav-user__link--login {
  background-image: url("../img/icon/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 21px center;
}

.nav-user__link--exit {
  padding: 10px 20px 11px 20px;
  margin-left:  -12px;
  opacity: 0.3;
}

.nav-user__link--compare {
  background-image: url("../img/icon/icon-compare.svg");
  background-repeat: no-repeat;
  background-position: 21px center;
}

.nav-user__link--basket {
  position: relative;
  background-image: url("../img/icon/icon-basket.svg");
  background-repeat: no-repeat;
  background-position: 18px center;
}

.nav-user__link--basket::before {
  content: '2';
  position: absolute;
  top: 10px;
  left: 3px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-user__item--popover-position {
  position: relative;
}


.popover-basket {
  position: absolute;
  top: 33px;
  left: 0;
  width: 320px;
  background-color: #000000;
  color: #dcdcdc;
  display: none;
  flex-direction: column;
  font-size: 16px;
  line-height: 20px;
  z-index: 5;
  padding: 20px;
  box-sizing: border-box;
  transform: translateX(-41%);
}

.nav-user__item:hover .popover-basket {
  display: flex;
}

.nav-user__item:focus-within .popover-basket {
  display: flex;
}

.popover-basket::before {
  content: '';
  position: absolute;
  top: -6px;
  left: 150px;
  width: 14px;
  height: 6px;
  background: url('../img/icon/icon-tr.svg') no-repeat;
}

.popover-basket__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  row-gap: 40px;
  margin-bottom: 20px;
}

.popover-basket__item {
  display: flex;
}

.popover-basket__link {
  display: grid;
  grid-template-columns: 41px 180px;
  column-gap: 23px;
  text-decoration: none;
  color: #dcdcdc;
}

.popover-basket__close {
  margin-left: auto;
  background-color: #000000;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: none;
  background: url(../img/icon/icon-close.svg) no-repeat center 7px;
  cursor: pointer;
}

.popover-basket__link:hover,
.popover-basket__close:hover {
  opacity: 0.6;
}

.popover-basket__link:active,
.popover-basket__close:active {
  opacity: 0.3;
}

.popover-basket__link:focus-visible {
  outline: none;
}

.popover-basket__link:focus-visible .popover-basket__img {
  outline: 5px solid #af4fff;
}

.popover-basket__close:focus-visible {
  outline: 2px solid #af4fff;
}

.popover-basket__link:focus-visible .popover-basket__name-item {
  color: #af4fff;
}

.popover-basket__name-item {
  align-self: center;
}

.popover-basket__cost-n-quantity {
  background-color: #1a1a1a;
  padding: 12px 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.popover-basket__cost-n-quantity::before  {
  content: '';
  position: absolute;
  height: 100%;
  width: 20px;
  left: -20px;
  top: 0;
  background-color: #1a1a1a;
}

.popover-basket__cost-n-quantity::after  {
  content: '';
  position: absolute;
  height: 100%;
  width: 20px;
  right: -20px;
  top: 0;
  background-color: #1a1a1a;
}

.popover-basket__button {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 15px 0;
  border: none;
  background: #ffffff;
  cursor: pointer;
}

.popover-basket__button:hover {
  background-color: #ffe17f;
}

.popover-basket__button:active  {
  background-color: #ffe17f;
}

.popover-basket__button:active .popover-basket__button-text {
  opacity: 0.3;
}

.popover-basket__button:focus-visible {
  outline: 5px solid #af4fff;
}

.nav__page {
  margin: 0;
  margin-bottom: 0;
}

.nav-page {
  width: 100%;
  padding-left: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 540px repeat(3, max-content);
  row-gap: 20px;
}

.nav-page__item {
  line-height: 0;
  position: relative;
  z-index: 2;
}

.nav-page__item--catalog {
  grid-row: 1/3;
}

.nav-page__item:nth-child(3n+3) {
  margin-left: -9px;
}

.nav-page__item:nth-child(3n+4) {
  margin-left: 50px;
}

.nav-page__item:focus-within .subcatalog {
  visibility: visible;
}

.subcatalog {
  visibility: hidden;
  position: absolute;
  top: 36px;
  left: 0;
  background-color: #ffe17f;
  font-size: 16px;
  line-height: 18px;
  list-style-type: none;
  margin-top: 44px;
  padding: 5px 0 57px 5px;
  display: grid;
  grid-template-columns: 239px 201px 200px;
  row-gap: 18px;
  z-index: 1;
}

.subcatalog::before {
  content: '';
  position: absolute;
  right: 100%;
  height: 100%;
  background-color: #ffe17f;
  width: 9999px;
}

.subcatalog::after {
  content: '';
  position: absolute;
  left: 100%;
  height: 100%;
  background-color: #ffe17f;
  width: 9999px;
}


.nav-page__link:hover ~ .subcatalog,
.nav-page__button:hover + .subcatalog {
  visibility: visible;
}

.subcatalog__item:last-child {
  grid-column: 1/2;
}

.subcatalog__link {
  text-decoration: none;
  color: #000000;
  padding: 3px 15px 5px;
}

.subcatalog__link:hover {
  opacity: 0.6;
}

.subcatalog__link:active {
  opacity: 0.3;
}

.subcatalog__link:focus-visible {
  outline: 2px solid #af4fff;
  border-radius: 25px;
}

.nav-page__link {
  display: inline-block;
  padding: 15px 20px;
  transition: 0.1s;
}

.nav-page__link--hover:hover::before {
  content: '';
  position: absolute;
  right: 20px;
  bottom: 8px;
  left: 20px;
  height: 2px;
  background-color: #000000;
}

.nav-page__link:active,
.nav-page__link:active + .nav-page__button{
  opacity: 0.3;
}

.nav-page__link:focus-visible{
  outline: 2px solid #af4fff;
  border-radius: 25px;
}

.nav-page__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: #ffe17f;
  position: absolute;
  top: 0;
  left: 263px;
  cursor: pointer;
  transition: 0.1s;
}

.nav-page__button::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-page__button::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  transform: rotate(90deg);
  transition: 0.1s;
}

.nav-page__link:hover + .nav-page__button,
.nav-page__button:hover {
  border: 2px solid rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
}

.nav-page__link:hover + .nav-page__button::after,
.nav-page__button:hover::after {
  background-color: rgba(0, 0, 0, 1);
  transform: rotate(180deg);
}

.nav-page__button:focus-visible {
  outline: none;
  border-color: #af4fff;
}



/* СТИЛИ ГЛАВНОЙ СТРАНИЦЫ */
/* Главный блок с популярным товаром */

.promo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 61px;
}

.promo__slider {
  margin-top: -150px;
  display: block;
}

.slider {
  max-width: 560px;
  width: 100%;
  position: relative;
}

.slider__bracer {
  display: none;
}

.slider__selfie-stick {
  display: none;
}

.slider__button {
  box-sizing: border-box;
  padding: 40px 20px;
  position: absolute;
  border: none;
  cursor: pointer;
}

.slider__button--prev {
  background: url('../img/slider-button.svg') no-repeat center center;
  left: 9px;
  top: 239px;
}

.slider__button--next {
  background: url('../img/slider-button.svg') no-repeat center center;
  transform: rotate(180deg);
  right: 9px;
  top: 239px;
}

.slider__button:hover {
  opacity: 0.6;
}

.slider__button:active {
  opacity: 0.3;
}

.slider__button:focus-visible {
  outline: 2px solid #af4fff;
  border-radius: 6px;
}

.promo__description {
  margin-top: -29px;
}

.description {
  max-width: 560px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.description__title {
  margin: 0;
  margin-bottom: 29px;
}

.description__quadcopter::before {
  content: '01';
  font-family: 'Rubik', 'Arial', sans-serif;
  position: absolute;
  top: -40px;
  right: 48px;
  font-weight: 800;
  font-size: 180px;
  color: #ffffff;
  z-index: -1;
}

.description__bracer {
  display: none;
}

.description__bracer::before {
  content: '02';
  font-family: 'Rubik', 'Arial', sans-serif;
  position: absolute;
  top: -40px;
  right: 48px;
  font-weight: 800;
  font-size: 180px;
  color: #ffffff;
  z-index: -1;
}

.description__selfie-stick {
  display: none;
}

.description__selfie-stick::before {
  content: '03';
  font-family: 'Rubik', 'Arial', sans-serif;
  position: absolute;
  top: -40px;
  right: 48px;
  font-weight: 800;
  font-size: 180px;
  color: #ffffff;
  z-index: -1;
}

.description__text {
  margin: 0;
  margin-bottom: 50px;
}

.description__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}

.description__link {
  position: relative;
  padding: 0 39px;
}

.description__link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  height: 8px;
  width: 100%;
  background-color: #ffe17f;
  z-index: -1;
}

.description__link:hover::before {
  transform: scaleY(5);
}

.description__link:active::before {
  transform: scaleY(5);
}

.description__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.description__link:focus-visible {
  outline: 0;
}

.description__link:focus-visible:before {
  background-color: #af4fff;
}

.description__list {
  margin: 0;
  margin-right: 61px;
}

.pagination-list {
  padding: 0;
  list-style-type: none;
  min-width: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pagination-list__item {
  display: flex;
  width: 12px;
  height: 12px;
}

.pagination-list__button {
  padding: 0;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 1);
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.pagination-list__button--active {  
  background-color: #000000;
}

.pagination-list__button:hover {
  border: 2px solid rgba(0, 0, 0, 0.6);
}

.pagination-list__button:active {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.pagination-list__button:focus-visible {
  outline: none;
  border: 2px solid #af4fff;
}

.description__characteristics {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 160px);
  row-gap: 10px;
}

.description__characteristics--bracer {
  display: none;
}

.description__characteristics--selfie-stick {
  display: none;
}

.description__characteristics__term {
  grid-row: 2/3;
  font-size: 16px;
}

.description__characteristics__definition {
  margin: 0;
  font-size: 36px;
  color: #000000;
}

/* Каталог товаров */

.catalog {
  margin-bottom: 62px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog__link {
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: none;
}

.catalog__container {
  background-color: #ffe17f;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 33px;
}

.catalog__container--selfie {
  align-items: flex-end;
}

.catalog__svg {
  fill: #363636;
}

.catalog__svg--virtual-reality {
  width: 97px;
  height: 55px;
}

.catalog__svg--selfie-stick {
  width: 86px;
  height: 117px;
}

.catalog__svg--camera {
  width: 71px;
  height: 87px;
}

.catalog__svg--bracer {
  width: 107px;
  height: 65px;
}

.catalog__svg--clock {
  width: 56px;
  height: 98px;
}

.catalog__svg--quadcopter {
  width: 132px;
  height: 69px;
}

.catalog__link:hover .catalog__container {
  background-color: #ffc700;
}

.catalog__link:active .catalog__container {
  background-color: #ffc700;
}

.catalog__link:active .catalog__svg,
.catalog__link:active .catalog__text{
  opacity: 0.3;
}

.catalog__link:focus {
  outline: none;
}

.catalog__link:focus-visible .catalog__container{
  outline: 5px solid #af4fff;
}

.catalog__link:focus-visible .catalog__text {
  color: #af4fff;
}

.catalog__text {
  max-width: 160px;
  width: 100%;
}

/* Вкладка с дополнительной информацией */

.services {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 26%,
    rgba(240, 240, 240, 1) 26%
  );
  margin-bottom: 90px;
}

.services__wrapper {
  display: flex;
  padding-bottom: 69px;
}

.services__nav {
  max-width: 284px;
  width: 100%;
  position: relative;
}

.services__nav::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 100%;
  right: 0;
  background-color: #000000;
}

.services__list {
  max-width: 160px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.services__item {
  display: block;
  min-width: 160px;
  text-align: center;
  line-height: 20px;  
}

.services__item:first-child {
  margin-top: 89px;
}

.services__item:nth-child(n + 1) {
  margin-bottom: 44px;
}

.services__item:last-child {
  margin-bottom: 0;
}

.services__link {
  position: relative;
  display: block;
  z-index: 0;
}

.services__link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
  transition: 0.1s;
}

.services__link:hover::before {
  transform: scaleY(5);
}

.services__link:active {
  color: #ffe17f;
}
.services__link:active::before {
  transform: scaleY(5);
  width: 277px;
  background-color: #000000;
}

.services__link:focus {
  outline: none;
}

.services__link:focus-visible {
  outline: none;
}

.services__link:focus-visible::before {
  outline: none;
  background-color: #af4fff;
}

.services__content {
  margin-left: 116px;
  width: 100%;
}

.services__description--delivery {
  background: url('../img/icon/icon-delivery.svg') no-repeat 558px 15px;
}

.services__description--guarantee {
  background: url(../img/icon/icon-guarantee.svg) no-repeat 543px -9px;
}

.services__description--credit {
  background: url('../img/icon/icon-credit.svg') no-repeat 533px -9px;
}

.services__title {
  margin-top: 70px;
  margin-bottom: 34px;
}

.services__text {
  margin: 0;
  margin-bottom: 75px;
}


/* Блок специальная доставка */

.special-offer {
  margin-bottom: 96px;
}

.special-offer__link {
  padding: 29px 0 31px;
  background-color: #f0f0f0;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.special-offer__link::before {
  content: '';
  position: absolute;
  background-color: #ffe17f;
  height: 100%;
  width: 125px;
  top: 0;
  left: 0;
}

.special-offer__svg {
  fill: #000000;
  width: 47px;
  height: 41px;
  margin-left: 39px;
  z-index: 1;
}

.special-offer__text {
  font-size: 20px;
  line-height: 23px;
  margin: 0;
  margin-left: -8px;
}

.special-offer__reference {
  width: 40px;
  height: 40px;
  margin-right: 33px;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.3)
}

.special-offer__link:hover {
  background-color: #ebebeb;
}

.special-offer__link:hover::before {
  background-color: #ffc700;
}

.special-offer__link:hover .special-offer__reference {
  background-color: rgba(220, 220, 220, 1);
  color: rgba(0, 0, 0, 1);
}

.special-offer__link:active .special-offer__reference,
.special-offer__link:active .special-offer__text {
  color: rgba(0, 0, 0, 0.3);
}

.special-offer__link:active .special-offer__svg {
  opacity: 0.3;
}

.special-offer__link:focus-visible {
  outline: 5px solid #af4fff;
}

/* Блок о компании и контакты*/

.info-block {
  padding-bottom: 87px;
  display: flex;
  justify-content: space-between;
}

.about-us,
.contacts {
  max-width: 560px;
  min-height: 563px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.about-us::before,
.contacts::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-us__title {
  margin-top: 49px;
  margin-bottom: 46px;
}

.about-us__description {
  margin: 0;
  margin-bottom: 30px;
}

.about-us__description:nth-child(3) {
  margin-bottom: 75px;
}

.about-us__list {
  margin: 0;
  margin-left: 34px;
  padding-left: 0;
  list-style-type: none;
  font-weight: 700;
  color: #000000;
  line-height: 20px;
}

.about-us__item {
  margin-bottom: 20px;
}

.about-us__item:last-child {
  margin-bottom: 0;
}

.about-us__link {
  margin-top: auto;
  position: relative;
  align-self: flex-start;
  z-index: 0;
  padding: 0 18px;
}

.about-us__link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  height: 8px;
  width: 100%;
  background-color: #ffe17f;
  z-index: -1;
}

.about-us__link:hover::before {
  transform: scaleY(5);
}

.about-us__link:active::before {
  transform: scaleY(5);
}

.about-us__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.about-us__link:focus {
  outline: none;
}

.about-us__link:focus-visible {
  outline: none;
}

.about-us__link:focus-visible::before {
  background-color: #af4fff;
}

.contacts__title {
  margin-top: 49px;
  margin-bottom: 46px;
}

.contacts__description {
  margin: 0;
  margin-bottom: 30px;
}

.contacts__place {
  margin: 0;
  margin-bottom: 15px;
}

.place-and-time {
  font-size: 24px;
  font-weight: 700;
}

.contacts__address {
  font-style: normal;
  margin-bottom: 30px;
}

.address__text {
  margin: 0;
}

.address__tel {
  color: #444444;
}

.address__tel:hover {
  opacity: 0.7;
}

.address__tel:active {
  opacity: 0.3;
}

.address__tel:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 5px;
  border-radius: 25px;
}

.contacts__time {
  margin: 0;
  margin-bottom: 15px;
}

.contacts__list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.contacts__link {
  margin-top: auto;
  padding: 0 34px;
  align-self: flex-start;
  position: relative;
  z-index: 0;
}

.contacts__link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  height: 8px;
  width: 100%;
  background-color: #ffe17f;
  z-index: -1;
}

.contacts__link:hover::before {
  transform: scaleY(5);
}

.contacts__link:active::before {
  transform: scaleY(5);
}

.contacts__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.contacts__link:focus {
  outline: none;
}

.contacts__link:focus-visible {
  outline: none;
}

.contacts__link:focus-visible::before {
  background-color: #af4fff;
}

/* Блок с рассылкой */

.newsletter {
  background-color: #f0f0f0;
}

.newsletter__wrapper {
  padding: 74px 0 131px;
  display: grid;
  grid-template-columns: 600px 340px 220px;
  row-gap: 40px;
}

.newsletter__title {
  margin: 0;
}

.newsletter__description {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 19px;
  grid-column: 2/-1;
}

.newsletter__form {
  grid-column: 1/-2;
  position: relative;
  display: grid;
  grid-template-columns: 600px min-content;
  transition: 0.2s;
}

.newsletter__email::placeholder{
  opacity: 0.5;
}

.newsletter__email:hover {
  border-color: rgba(0, 0, 0, 0.2);
}

.newsletter__email:hover::placeholder{
  opacity: 0.7;
}

.newsletter__email:focus {
  outline: none;
  background-color: #dcdcdc;
}

.newsletter__email:not(:placeholder-shown) {
  background-color: #f0f0f0;
  border-color: rgba(0, 0, 0, 1)
}

.newsletter__email--error {
  border-color: rgba(255, 61, 61, 1);
}

.newsletter__email {
  padding: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  color: #444444;
  background-color: #f0f0f0;
}

.newsletter__submit {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 14px 39px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.newsletter__submit:hover {
  background-color: #000000;
  border-color: #000000;
  color: rgba(255, 255, 255, 1);
}

.newsletter__submit:active {
  background-color: #000000;
  border-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.newsletter__submit:focus-visible {
  outline: 0;
  border: 3px solid #af4fff;
}

.newslatter__free {
  padding-left: 35px;
  background: url("../img/icon/icon-ok.svg") no-repeat center left;
  align-self: center;
  justify-self: end;
}

/* Подвал */

.footer {
  background-color: #444444;
  color: #ffffff;
}

.footer__wrapper {
  margin-top: 62px;
}

.footer__logo {
  display: inline-block;
  margin: -11px;
  margin-bottom: 5px;
}

.footer__logo:focus-visible {
  outline: none;
}

.footer__logo-svg {
  width: 145px;
  height: 36px;
  fill: #ffc700; 
  padding: 10px;
}

.footer__logo-svg:hover {
  fill: #ffffff;
}

.footer__logo-svg:active {
  fill: #ffffff;
  opacity: 0.3;
}

.footer__logo:focus-visible .footer__logo-svg {
  outline: 2px solid #af4fff;
  border-radius: 10px;
}

.footer__info {
  margin-bottom: 41px;
  display: grid;
  grid-template-columns: 240px max-content 258px;
  column-gap: 103px;
}

.footer__address {
  font-size: 16px;
  line-height: 19px;
  max-width: 239px;
  font-style: normal;
  align-self: end;
}

.footer__nav {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.footer__link {
  display: inline-block;
  margin-right: -11px;
  padding: 15px 20px;
  color: #ffffff;
  position: relative;
}

.footer__link:hover {
  color: #ffc700;
}

.footer__link:hover::before {
  content: '';
  position: absolute;
  height: 2px;
  background-color: #ffc700;
  left: 20px;
  right: 20px;
  bottom: 7px;
}

.footer__link:active,
.footer__link:active::before {
  opacity: 0.3;
}

.footer__link:focus-visible {
  outline: 2px solid #af4fff;
  border-radius: 25px;
}

.footer__tel {
  margin-bottom: 11px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  justify-self: end;
  line-height: 19px;
  height: 19px;
  padding: 4px 15px;
  align-self: end;
}

.footer__tel:hover {
  color: #ffc700;
}

.footer__tel:active {
  color: #ffc700;
  opacity: 0.3;
}

.footer__tel:focus-visible {
  outline: 2px solid #af4fff;
  border-radius: 25px;
}

.footer__social-link {
  margin: 0;
  margin-bottom: 44px;
}

.social-link {
  display: grid;
  grid-template-columns: repeat(3, 390px);
  position: relative;
}

.social-link::before {
  content: '';
  width: 80px;
  height: 7px;
  background-color: #ffc700;
  position: absolute;
  top: 24px;
  left: 0;
}

.social-link__list {
  margin-top: 7px;
  margin-right: 10px;
  padding-left: 0;
  list-style-type: none;
  font-size: 0;
  line-height: 0;
  grid-column: 2/3;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 15px;
}

.social-link__link {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link__svg--facebook {
  width: 9px;
  height: 18px;
  fill: #444444;
}

.social-link__svg--insta {
  width: 16px;
  height: 16px;
  fill: #444444;
}

.social-link__svg--twitter {
  width: 15px;
  height: 14px;
  fill: #444444;
}

.social-link__link:hover {
  background-color: #ffc700;
}

.social-link__link:active .social-link__svg--facebook,
.social-link__link:active .social-link__svg--insta,
.social-link__link:active  .social-link__svg--twitter {
  opacity: 0.3;
}

.social-link__link:focus-visible {
  outline: 5px solid #af4fff;
}

.social-link__academy {
  justify-self: end;
}

.social-link__academy-svg {
  padding: 10px;
  width: 115px;
  height: 34px;
  fill: #ffc700;
}

.social-link__academy-svg:hover {
  fill: #ffffff;
}

.social-link__academy-svg:active {
  fill: #ffffff;
  opacity: 0.3;
}

.social-link__academy:focus-visible .social-link__academy-svg {
  outline: 2px solid #af4fff;
  border-radius: 10px;
}

.social-link__academy:focus-visible {
  outline: none;
}

/* -------------- */
/* Модальное окно */
/* ---------------*/

.modal {
  position: fixed;
  background-color: rgba(240, 240, 240, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  display: none;
}

.modal__window {
  margin: auto;
  position: relative;
  width: 920px;
  background: #ffffff;
  border: 10px solid #000000;
  box-sizing: border-box;
  padding: 60px 70px;
  display: grid;
  grid-template-columns: 560px 1fr;
  row-gap: 60px;
}

.modal__title {
  margin: 0;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.modal__exit {
  padding: 25px;
  width: 26px;
  height: 26px;
  border: none;
  background: url('../img/icon/modal-close.svg') no-repeat center center #ffffff;
  cursor: pointer;
  justify-self: end;
}

.modal__exit:hover {
  opacity: 0.7;
}

.modal__exit:active {
  opacity: 0.3;
}

.modal__exit:focus-visible {
  outline: 5px solid #af4fff;
  border-radius: 50%;
}

.modal__item {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}

.modal__subtitle {
  margin-bottom: 14px;
  padding: 0;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.modal__subtitle--reference {
  position: absolute;
  top: -36px;
  right: 14px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #ffe17f;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal__popup {
  display: none;
  position: absolute;
  right: -20px;
  top: 0;
  box-sizing: border-box;
  width: 200px;
  padding: 19px;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.modal__popup::before {
  content: '';
  position: absolute;
  top: -6px;
  right: 40px;
  background: url('../img/icon/icon-tr.svg') no-repeat;
  width: 14px;
  height: 6px;
}

.modal__subtitle--reference:hover + .modal__popup {
  display: block;
}


.modal__form {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(4, 160px);
  gap: 40px;
}

.modal__input {
  padding: 20px;
  border: none;
  box-sizing: border-box;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #f0f0f0;
  width: 100%;
}

.modal__input:hover {
  background-color: #ebebeb;
}

.modal__input:focus {
  outline: 5px solid #af4fff;
}

.modal__input:not(:placeholder-shown) {
  background-color: #ffffff;
  outline: 3px solid #000000;
}

.modal__input--error {
  outline: 3px solid #FF3D3D;
}

.modal__item--column-name {
  position: relative;
  grid-column: 1/3;
}

.modal__input--padding-name {
  padding-right: 53px;
}

.modal__name-svg {
  position: absolute;
  top: 24px;
  right: 21px;
  width: 13px;
  height: 12px;
  fill: #b3b3b3;
}

.modal__item--column-email {
  position: relative;
  grid-column: 3/5;
}

.modal__input--padding-email {
  padding-right: 55px;
}

.modal__email-svg {
  position: absolute;
  width: 15px;
  height: 12px;
  fill: #b3b3b3;
  top: 24px;
  right: 20px;
}

.modal__tip {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.error {
  color: #ff3d3f;
}

.modal__item--column-product {
  grid-column: 1/4;
}

.modal__input--padding-quantity {
  padding: 20px 50px;
  text-align: center;
}

.modal__input--arrow::-webkit-outer-spin-button,
.modal__input--arrow::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.modal__button {
  position: absolute;
  border: none;
  padding: 16px;
  opacity: 0.3;
  cursor: pointer;
}

.modal__button--remove {
  background: url('../img/minus.svg') no-repeat center center;
  width: 16px;
  height: 16px;
  left: 11px;
  top: 14px;
}

.modal__button--add {
  background: url('../img/plus.svg') no-repeat center center;
  width: 16px;
  height: 16px;
  right: 11px;
  top: 14px;
}

.modal__button:hover {
  opacity: 1;
}

.modal__button:active {
  opacity: 0.1;
}

.modal__button:focus-visible {
  outline: 2px solid #af4fff;
  border-radius: 50%;
}

.modal__submit {
  padding: 0 31px;
  position: relative;
  grid-column: 1/3;
  justify-self: start;
  box-sizing: border-box;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.modal__submit::before {
  content: '';
  position: absolute;
  background-color: #ffe17f;
  height: 8px;
  top: 7px;
  left: 0;
  right: 0;
  z-index: -1;
  transition: 0.2s;
}

.modal__submit:hover::before {
  transform: scaleY(5);
}

.modal__submit:active::before {
  transform: scaleY(5);
}

.modal__submit:active {
  color: rgba(0, 0, 0, 0.3);
}

.modal__submit:focus-visible {
  outline: none;
}

.modal__submit:focus-visible::before {
  background-color: #af4fff;
}

/* СТИЛИ КАТАЛОГА */
/* Хлебные крошки */

.inner-header {
  margin-bottom: 44px;
}

.inner-header__title {
  margin: 0;
  margin-left: 60px;
  margin-bottom: 17px;
}

.breadcrumbs {
  margin: 0;
  margin-left: 47px;
  padding: 0;
  list-style: none;
  display: flex;
}

.breadcrumbs__item + .breadcrumbs__item {
  background: url('../img/icon/icon-breadcrumbs-arrow.svg') no-repeat 2px center;
}

.breadcrumbs__item:nth-child(n + 2) {
  padding-left: 9px;
}

.breadcrumbs__link {
  padding: 5px 13px;
  text-decoration: none;
  opacity: 0.6;
}

.breadcrumbs__link:hover {
  opacity: 1;
}

.breadcrumbs__link:active {
  opacity: 0.3;
}

.breadcrumbs__link:focus-visible {
  outline: 5px solid #af4fff;
}

/* Боковая панель (sidebar) */

.page-catalog {
  overflow: hidden;
}

.page-catalog__wrapper {
  display: flex;
}

.sidebar {
  max-width: 200px;
  padding-left: 60px;
  padding-right: 69px;
  background-color: #e5e5e5;
  position: relative;
}

.sidebar::before {
  content: "";
  position: absolute;
  right: 100%;
  height: 100%;
  background-color: #e5e5e5;
  width: 9999px;
}

.sidebar__wrapper {
  width: 269px;
  height: 70px;
  margin-bottom: 83px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #dcdcdc;
}

.sidebar__wrapper::before {
  content: "";
  position: absolute;
  right: 100%;
  height: 100%;
  background-color: #dcdcdc;
  width: 9999px;
}

.sidebar__title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sidebar__form {
  display: flex;
  flex-direction: column;
}

.sidebar__group {
  width: 100%;
  margin: 0;
  margin-bottom: 81px;
  padding: 0;
  border: none;
}

.sidebar__group:nth-of-type(2) {
  margin-bottom: 53px;
}

.sidebar__group:nth-of-type(3) {
  margin-bottom: 47px;
}

.filtr-group__title {
  position: relative;
  padding: 0;
  margin-bottom: 37px;
}

.filtr-group__title::before {
  content: '';
  width: 200px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: -14px;
  left: 0;
}

.sidebar__group:nth-of-type(2) .filtr-group__title,
.sidebar__group:nth-of-type(3) .filtr-group__title {
  margin-bottom: 22px;
}

.filtr-group__scale {
  position: relative;
  height: 2px;
  background-color: #DCDCDC;
}

.filtr-group__range-bar {
  position: absolute;
  height: 2px;
  width: 120px;
  left: 0;
  top: 0;
  background-color: #000000;
}

.filtr-group__range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #ebebeb;
}

.filtr-group__range-toggle--min {
  top: -9px;
  left: 0;
}

.filtr-group__range-toggle--max {
  top: -9px;
  right: -9px;
}

.filtr-group__label {
  font-size: 15px;
  line-height: 18px;
  position: absolute;
  opacity: 0.3;
}

.filtr-group__label--min {
  top: 17px;
  left: -6px;
}

.filtr-group__label--max {
  top: 17px;
  right: -32px;
}

.filtr-group__input {
  box-sizing: border-box;
  width: 41px;
  padding: 0;
  border: none;
  background-color: #e5e5e5;
  font-family: inherit;
  font-size: 15px;
  line-height: 18px;
}

.filtr-group__input::-webkit-outer-spin-button,
.filtr-group__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.filtr-group__range-min--active .filtr-group__range-toggle--min {
  background-color: #000000;
}

.filtr-group__range-min--active .filtr-group__label--min {
  opacity: 1;
}

.filtr-group__range-max--active .filtr-group__range-toggle--max {
  background-color: #000000;
}

.filtr-group__range-max--active .filtr-group__label--max {
  opacity: 1;
}

.filtr-group__input:focus {
  outline: none;
}

.filtr-group__range-toggle:focus-visible,
.filtr-group__range-toggle:focus-visible + .filtr-group__label,
.filtr-group__range-toggle:focus-visible + .filtr-group__label .filtr-group__input {
  outline: none;
  border-color: #af4fff;
  color: #af4fff;
}

.filtr-group__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar__group:nth-of-type(2) .filtr-group__item + .filtr-group__item {
  margin-top: 10px;
}

.filtr-group__control {
  position: relative;
  display: block;
  padding-left: 37px;
}

.filtr-group__mark {
  position: absolute;
  box-sizing: border-box;
  top: 6px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.filtr-group__svg {
  position: absolute;
  display: none;
  top: 3px;
  left: 3px;
}

.sidebar__group:nth-of-type(3) .filtr-group__item + .filtr-group__item {
  margin-top: 11px;
}

.filtr-group__radio + .filtr-group__mark {
  border-radius: 50%;
}

.filtr-group__radio + .filtr-group__mark::before {
  content: '';
  position: absolute;
  display: none;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
}

.filtr-group__radio:checked + .filtr-group__mark {
  border-color: rgba(0, 0, 0, 1);
}

.filtr-group__radio:checked + .filtr-group__mark::before {
  display: block;
}

.filtr-group__check:checked + .filtr-group__mark{
  border-color: rgba(0, 0, 0, 1);
}

.filtr-group__check:checked + .filtr-group__mark .filtr-group__svg{
  display: block;
}

.filtr-group__control:hover .filtr-group__mark,
.filtr-group__control:hover .filtr-group__text{
  border-color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
}

.filtr-group__control:hover .filtr-group__mark::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.filtr-group__control:active .filtr-group__mark,
.filtr-group__control:active .filtr-group__text{
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
}

.filtr-group__control:active .filtr-group__mark::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.filtr-group__check:focus-visible + .filtr-group__mark {
  border-color: rgba(175, 79, 255, 1);
}

.filtr-group__check:focus-visible + .filtr-group__mark .filtr-group__svg{
  fill: #af4fff;
}

.filtr-group__check:focus-visible ~ .filtr-group__text {
  color: #af4fff;
}

.filtr-group__radio:focus-visible + .filtr-group__mark {
  border-color: rgba(175, 79, 255, 1);
}

.filtr-group__radio:focus-visible + .filtr-group__mark::before {
  background-color: rgba(175, 79, 255, 1);
}

.filtr-group__radio:focus-visible + .filtr-group__mark::before {
  background-color: rgba(175, 79, 255, 1);
}

.filtr-group__radio:focus-visible ~ .filtr-group__text {
  color: #af4fff;
}

.sidebar__button {
  padding: 0;
  padding: 0 39px;
  background-color: #e5e5e5;
  border: none;
  cursor: pointer;
  position: relative;
  align-self: flex-start;
  z-index: 0;
}

.sidebar__button::before {
  content: '';
  width: 100%;
  height: 8px;
  background-color: #ffc700;
  position: absolute;
  left: 0;
  top: 7px;
  z-index: -1;
}

.sidebar__button:hover::before {
  transform: scaleY(5);
}

.sidebar__button:active::before {
  transform: scaleY(5);
}

.sidebar__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.sidebar__button:focus-visible {
  outline: none;
}

.sidebar__button:focus-visible::before {
  background-color: #af4fff;
}


/* Блок с карточками (content) */
/* Сортировка товаров по категориям */
.sorting {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #ebebeb;
  position: relative;
}

.sorting::before {
  content: "";
  position: absolute;
  left: 100%;
  height: 100%;
  background-color: #ebebeb;
  width: 9999px;
}

.sorting__label {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-left: 72px;
}

.sorting__select {
  margin-left: 32px;
  padding: 4px 41px 7px 13px;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  border: none;
  background: url('../img/icon/icon-select.svg') no-repeat 191px 11px #ebebeb;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sorting__select:hover {
  opacity: 0.6;
}

.sorting__select:active {
  opacity: 0.3;
}

.sorting__select:focus {
  outline: 5px solid #af4fff;
}

.sorting__button-wrapper {
  margin-left: auto;
  display: flex;
}

.sorting__button {
  display: block;
  padding: 15px;
  background: url(../img/icon/icon-sorting.svg) no-repeat center center;
  opacity: 0.2;
  outline-offset: -3px;
}

.sorting__button--up {
  transform: rotate(180deg);
}

.sorting__button--active {
  opacity: 1;
}

.sorting__button:hover {
  opacity: 0.5;
}

.sorting__button:active {
  opacity: 1;
}

.sorting__button:focus-visible {
  outline: 5px solid #af4fff;
}
/* Блок с карточками */

.product-card {
  margin-bottom: 48px;
}

.product-card__list {
  margin: 0;
  padding-top: 69px;
  padding-left: 72px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  row-gap: 44px;
}

.product-card__item {
  position: relative;
  display: grid;
  grid-template-columns: 280px 80px;
  grid-template-rows: 380px 1fr;
  row-gap: 32px;
}

.product-card__link {
  grid-column: 1/-1;
  position: relative;
}

.product-card__item--new::after {
  content: 'NEW';
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  position: absolute;
  top: 29px;
  right: 27px;
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card__img {
  display: block;
}

.product-card__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.product-card__price {
  padding-top: 4px;
  padding-right: 4px;
  justify-self: end;
  line-height: 21px;
  color: #444444;
}

.product-card__details {
  display: none;
  margin: 0;
  padding: 0 18px;
  border: none;
  background: none;
  box-sizing: border-box;
  position: absolute;
  top: 180px;
  left: 90px;
  cursor: pointer;
  z-index: 0;
}

.product-card__details::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  height: 8px;
  width: 100%;
  background-color: #ffc700;
  z-index: -1;
}

.content__more {
  width: 760px;
  height: 55px;
  margin-left: 72px;
  margin-bottom: 51px;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
}

.content__more:hover {
  border-color: rgba(0, 0, 0, 1);
}

.content__more:active {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.content__more:focus-visible {
  outline: none;
  border-color: #af4fff;
}

.product-card__item:hover .product-card__link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(240, 240, 240, 0.8), rgba(240, 240, 240, 0.8));
}

.product-card__item:hover .product-card__details {
  display: block;
}

.product-card__details:hover::before {
  transform: scaleY(5);
}

.product-card__details:active::before {
  transform: scaleY(5);
}
.product-card__details:active {
  color: rgba(0, 0, 0, 0.2);
}

.product-card__link:focus-visible {
  outline: 5px solid #af4fff;
}

.product-card__link:focus-visible + .product-card__title,
.product-card__link:focus-visible ~ .product-card__price{
  color: #af4fff;
}

/* Пагинация */

.pagination {
  margin: 0;
  margin-left: 72px;
  margin-bottom: 77px;
  padding-left: 0;
  max-width: 760px;
  width: 100%;
  list-style: none;
  background-color: #ebebeb;
  max-width: 760px;
  min-height: 70px;
  display: flex;
  align-items: center;
}

.pagination__item:nth-child(2) {
  margin-left: auto;
}

.pagination__item:nth-last-child(2) {
  margin-right: auto;
}

.pagination__link,
.pagination__span {
  padding: 9px 15px;
  color: rgba(68, 68, 68, 0.3);
  text-decoration: none;
  outline-offset: -5px;
}

.pagination__link--prev,
.pagination__link--next {
  padding: 26px 29px 25px 29px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}

.pagination__link:hover {
  color: rgba(68, 68, 68, 1);
}

.pagination__link:active {
  color: rgba(68, 68, 68, 0.1);
}

.pagination__link--prev:hover,
.pagination__link--next:hover {
  background-color: #dcdcdc;
}

.pagination__link--prev:active,
.pagination__link--next:active {
  background-color: #dcdcdc;
  color: rgba(0, 0, 0, 0.3);
}

.pagination__link:focus-visible {
  outline: 5px solid #af4fff;
}