/* Шрифты */

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/rubik/rubik-400.woff2') format('woff2');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/rubik/rubik-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/rubik/rubik-800.woff2') format('woff2');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/raleway/raleway-800.woff2') format('woff2');
}

/* Общие стили */

h1,
h2,
h3,
p {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'RubiK', 'Arial', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #444444;
    display: flex;
    flex-direction: column;
}

.text-catalog {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.text-link {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.text-title {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.text-subtitle {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
}

.wrapper {
    margin: 0 auto;
    max-width: 1160px;
    width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main {
    flex-grow: 1;
}

/* Шапка */

.header {
    background-color: #ffe17f;
    margin-top: 40px;
}

.header__wrapper {
    position: relative;
    padding: 48px 0 166px;
}

.header__logo {
    position: absolute;
    left: 61px;
    top: -23px;
}

.nav {
    margin: 0 60px;
    display: flex;
    flex-direction: column;
}

.nav__user {
    margin-top: 0;
    margin-bottom: 44px;
}

.nav-user {
    display: flex;
    align-items: center;
}

.nav-user__form {
    line-height: 19px;
}

.nav-user__search {
    font-family: inherit;
    font-size: 16px;
    opacity: 0.3;
    min-width: 516px;
    background-color: #ffe17f;
    border: none;
}

.nav-user__search--loupe {
    padding-left: 36px;
    background-image: url('/img/icon/icon-search.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

.nav-user__list {
    width: 100%;
    margin: 0 0 0 24px;
    padding-left: 0;
    list-style-type: none; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-user__item {
    display: flex;
}

.nav-user__item:first-child {
    min-width: 245px;
} 

.nav-user__link {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #000000;
}

.nav-user__link--login {
    padding-left: 25px;
    background-image: url('/img/icon/icon-login.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

.nav-user__link--exit {
    margin-left: 29px;
    opacity: 0.3;
}

.nav-user__link--compare {
    padding-left: 20px;
    background-image: url('/img/icon/icon-compare.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

.nav-user__item--number {
    padding-left: 15px;
}

.nav-user__link--basket {
    padding-left: 26px;
    background-image: url('/img/icon/icon-basket.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

.nav__page {
    margin: 0;
    margin-bottom: 0;
}

.nav-page {
    width: 100%;
    padding-left: 0;
    list-style-type: none; 
    display: flex;
    flex-wrap: wrap;
}

.nav-page__item {
    position: relative;
    display: flex;
    align-items: center;
}

.nav-page__item:nth-child(2) {
    margin-left: 314px;
}

.nav-page__item:nth-child(3) {
    margin-left: 31px;
}

.nav-page__item:nth-child(4) {
    margin-left: auto;
}

.nav-page__item:nth-child(n+4) {
    margin-right: 20px;
}

.nav-page__item:last-child {
    margin-right: 0;
}

.nav-page__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffe17f;
    position: absolute;
    top: -15px;
    left: 243px;
    cursor: pointer;
}

.nav-page__button::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-page__button::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    transform: rotate(90deg);
}

.nav-page__link {

}

/* СТИЛИ ГЛАВНОЙ СТРАНИЦЫ */
/* Главный блок с популярным товаром */

.promo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.promo__slider {
    margin-top: -150px;
    font-size: 0;
    line-height: 0;
}

.slider {
    max-width: 560px;
    width: 100%;
}

.slider__button {

}

.slider__button--prev {

}

.slider__button--next {

}

.promo__description {
    margin-top: -29px;
}

.description {
    max-width: 560px;
    width: 100%;
}

.description__title {
    margin-bottom: 29px;
}

.description__text {
    margin-bottom: 50px;
}

.description__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.description__link {
    width: 220px;
    text-align: center;
    position: relative;
    z-index: 0;
}

.description__link::before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    height: 8px;
    width: 220px;
    background-color: #ffe17f;
    z-index: -1;
}

.description__list {
    margin: 0;
    margin-right: 61px;
}

.pagination-list {
    padding: 0;
    list-style-type: none;
    min-width: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pagination-list__item {
    display: flex;
    width: 12px;
    height: 12px;
}

.pagination-list__button {
    padding: 0;
    border-radius: 50%;
    border: 2px solid #000000;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.pagination-list__button--active {
    background-color: #000000;
}

.pagination-list__characteristics {
    margin-top: 0;
    margin-bottom: 0;
}

.characteristics {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.characteristics__item {
    max-width: 160px;
    width: 100%;
}

.characteristics__term {
    margin-bottom: 11px;
    font-size: 36px;
    color: #000000;
}

.characteristics__definition {
    font-size: 16px;
}

/* Каталог товаров */

.catalog {
    margin-bottom: 70px;
}

.catalog__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog__item {
    
}

.catalog__link {
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: none;
}

.catalog__img {
    background-color: #ffe17f; 
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 33px;
}

.catalog__img--selfie {
    align-items: flex-end;
}

.catalog__text {
    max-width: 160px;
    width: 100%;
}

/* Вкладка с дополнительной информацией */

.services {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 26%, rgba(240,240,240,1) 26%);
    margin-bottom: 90px;
}

.services__wrapper {
    display: flex;
    padding-bottom: 69px;
}

.services__nav {
    margin-right: 240px;
}

.services__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.services__item {
    display: block;
    min-width: 160px;
    text-align: center;
    line-height: 20px;
    position: relative;
    z-index: 0;
}

.services__item:first-child {
    margin-top: 89px;
}

.services__item:nth-child(n+1) {
    margin-bottom: 45px;
}

.services__item:last-child {
    margin-bottom: 0;
}


.services__item--active {

}

.services__link {

}

.services__item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    width: 160px;
    height: 8px;
    background-color: #ffe17f;
    z-index: -1;
}

.services__content {

}

.services__description {
    max-width: 497px;
    width: 100%;
}

.services__title {
    margin-top: 70px;
    padding-bottom: 20px;
    margin-bottom: 14px;
}

.services__text {
    margin-bottom: 75px;
}

.services__img {

}

.services__img--delivery {

}

.services__img--guarantee {

}

.services__img--credit {

}

/* Блок специальная доставка */

.special-offer {
    margin-bottom: 97px;
}

.special-offer__button {
    width: 100%;
    padding: 0;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.special-offer__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.special-offer__img--wrapper {
    width: 125px;
    height: 100px;
    background-color: #ffe17f;
}

.special-offer__text {
    font-size: 20px;
    line-height: 23px;
}

.special-offer__reference {
    margin-right: 33px;
}

/* Блок о компании и контакты*/

.info-block {
    padding-bottom: 87px;
    display: flex;
    justify-content: space-between;
}

.about-us,
.contacts {
    max-width: 560px;
    min-height: 563px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.about-us::before,
.contacts::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 7px;
    background-color: #000000;
}

.about-us__title {
    margin-top: 49px;
    margin-bottom: 46px;
}

.about-us__description {
    margin-bottom: 30px;
}

.about-us__description:nth-child(3) {
    margin-bottom: 75px;
}

.about-us__list {
    margin: 0;
    margin-left: 34px;
    padding-left: 0;
    list-style-type: none;
    font-weight: 700;
    color: #000000;
    line-height: 20px;
}

.about-us__item {
    margin-bottom: 20px;
}

.about-us__item:last-child {
    margin-bottom: 0;
}

.about-us__link {
    margin-top: auto;
    position: relative;
    align-self: flex-start;
    z-index: 0;
    padding-left: 18px;
}

.about-us__link::before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    height: 8px;
    width: 260px;
    background-color: #ffe17f;
    z-index: -1;
}

.contacts__title {
    margin-top: 49px;
    margin-bottom: 46px;
}

.contacts__description {
    margin-bottom: 30px;
}

.contacts__place {
    margin-bottom: 15px;
}

.place-and-time {
    font-size: 24px;
    font-weight: 700;
}

.contacts__address {
    font-style: normal;
    margin-bottom: 30px;    
}

.address__text {

}

.address__tel {
    color: #444444;
}

.contacts__time {
    margin-bottom: 15px;
}

.contacts__list {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.contacts__item {

}

.contacts__link {
    margin-top: auto;
    padding-left: 34px;
    align-self: flex-start;
    position: relative;
    z-index: 0;
}

.contacts__link::before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    height: 8px;
    width: 260px;
    background-color: #ffe17f;
    z-index: -1;
}

/* Блок с рассылкой */

.newsletter {
    background-color: #f0f0f0;
}

.newsletter__wrapper {
    padding: 75px 0 131px;
    display: grid;
    grid-template-columns: 600px 340px 220px;
    row-gap: 40px;
}

.newsletter__title {

}

.newsletter__description {
    padding-top: 11px;
    padding-bottom: 19px;
    grid-column: 2/-1;
}

.newsletter__form {
    grid-column: 1/-2;
    position: relative;
    display: grid;
    grid-template-columns: 600px min-content;
    transition: .2s;
}

.newsletter__form::before {
    content: '';
    width: 600px;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
}

.newsletter__form:hover.newsletter__form::before {
    background-color: rgba(0, 0, 0, 0.2);
}

.newsletter__email {
    padding: 0;
    font-family: 'Rubik', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 30px;
    box-sizing: border-box;
    width: 560px;
    border: none;
    color: #444444;
    background-color: #f0f0f0;
}

.newsletter__submit {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 14px 39px;
    border: 3px solid rgba(0, 0, 0, 0.1); 
    cursor: pointer;
    transition: .2s;
}

.newsletter__submit:hover {
    background-color: #000000;
    border-color: #000000;
    color: white;
}

.newslatter__free {
    padding-left: 35px;
    background-image: url(/img/icon/icon-ok.svg);
    background-repeat: no-repeat;
    background-position: center left;
    align-self: center;
    justify-self: end;
}

/* Подвал */

.footer {
    background-color: #444444;
    color: #ffffff;
}

.footer__wrapper {
    margin-top: 62px;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 35px;
}

.footer__info {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 240px 434px 240px;
    column-gap: 123px;
}

.footer__address {
    font-size: 16px;
    line-height: 19px;
    max-width: 239px;
    font-style: normal;
}

.footer__nav {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.footer__item {
    color: #ffffff;
}

.footer__tel {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    justify-self: end;
}

.footer__social-link {
    margin: 0;
    margin-bottom: 44px;
}

.social-link {
    display: grid;
    grid-template-columns: repeat(3, 386px);
    column-gap: 1px;
    position: relative;
}

.social-link::before {
    content: '';
    width: 80px;
    height: 7px;
    background-color: #ffc700;
    position: absolute;
}

.social-link__list {
    padding-left: 0;
    list-style-type: none;
    font-size: 0;
    line-height: 0;
    grid-column: 2/3;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    column-gap: 15px;
}

.social-link__academy {
    justify-self: end;
}




/* СТИЛИ КАТАЛОГА */
/* Хлебные крошки */

.inner-header {
    margin-top: 37px;
}

.inner-header__title {
    margin-left: 60px;
    margin-bottom: 24px;
}

.breadcrumbs {
    margin-left: 60px;
    list-style: none;
    padding-left: 0;
    display: flex;
}

.breadcrumbs__item {

}

.breadcrumbs__item:nth-child(n+2) {
    margin-left: 35px;
}

.breadcrumbs__link {
    text-decoration: none;
    opacity: 0.6;
}

/* Боковая панель (sidebar) */

.page-catalog {
    overflow: hidden;
}

.page-catalog__wrapper {
    display: flex;
}

.sidebar {
    max-width: 200px;
    padding-left: 60px;
    padding-right: 69px;
    background-color: #ebebeb;
    position: relative;
}

.sidebar::before {
    content: '';
    position: absolute;
    right: 100%;
    height: 100%;
    background-color: #ebebeb;
    width: 9999px;
}

.sidebar__wrapper {
    width: 269px;
    height: 70px;
    margin-bottom: 69px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #DCDCDC;
}

.sidebar__wrapper::before {
    content: '';
    position: absolute;
    right: 100%;
    height: 100%;
    background-color: #DCDCDC;
    width: 9999px;
}

.sidebar__title {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.sidebar__form {
    display: flex;
    flex-direction: column;
}

.sidebar__group {
    width: 100%;
    margin: 0; 
    margin-bottom: 50px;
    padding: 0;
    border: none;
}

.filt-group {
    position: relative;
}

.filt-group::before {
    content: '';
    width: 200px;
    height: 2px;
    background-color: #000000;
    position: absolute;
    top: -32px
}

.filt-group__title {
    padding: 0;
    padding-top: 12px;
}

.filt-group__range-toggle {

}

.filt-group__range-toggle--min {

}

.filt-group__range-toggle--max {

}

.filt-group__label {

}

.filt-group__input {

}

.filt-group__list {

}

.filt-group__item {

}

.filt-group__control {

}

.filt-group__input {

}

.filt-group__mark {

}

.filt-group__label {

}

.sidebar__button {
    padding: 0;
    padding-left: 39px;
    border: none;
    cursor: pointer;
    position: relative;
    align-self: flex-start;
    z-index: 0;
}

.sidebar__button::before {
    content: '';
    width: 200px;
    height: 8px;
    background-color: #ffc700;
    position: absolute;
    left: 0;
    top: 7px;
    z-index: -1;
}

/* Блок с карточками (content) */
/* Сортировка товаров по категориям */
.sorting {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #ebebeb;
    position: relative;
}

.sorting::before {
    content: '';
    position: absolute;
    left: 100%;
    height: 100%;
    background-color: #ebebeb;
    width: 9999px;
}

.sorting__form {

}

.sorting__label {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-left: 72px;
}

.sorting__select {
    margin-left: 53px;
    font-family: 'Rubik', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 19px;
    border: none;
    background-color: #ebebeb;
}

.sorting__button-wrapper {
    margin-left: auto;
    margin-right: 140px;
}

.sorting__button {

}

.sorting__button--light {

}

/* Блок с карточками */

.product-card {

}

.product-card__list {
    margin: 0;
    padding-top: 69px;
    padding-left: 72px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 360px);
    column-gap: 40px;
    row-gap: 44px;
}

.product-card__item {

}

.product-card__link {
    text-decoration: none;
    display: grid;
    grid-template-columns: 280px 80px;
    row-gap: 32px;
}

.product-card__img {
    grid-column: 1/-1;
}

.product-card__title {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
}

.product-card__price {
    justify-self: end;
    line-height: 21px;
    color: #444444;
}

.product-card__details {

}

.button {
    width: 760px;
    height: 55px;
    margin-left: 72px;
    margin-bottom: 51px;
    padding: 0;
    font-size: 16px;
    line-height: 19px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    cursor: pointer;
}

/* Пагинация */

.pagination {
    margin: 0;
    margin-left: 72px;
    margin-bottom: 77px;
    padding-left: 0;
    max-width: 760px;
    width: 100%;
    list-style: none;
    background-color: #ebebeb;
    max-width: 760px;
    min-height: 70px;
    display: flex;
    align-items: center;
}

.pagination__item:nth-child(1n+1) {
    margin-right: 30px;
}

.pagination__item:nth-child(6) {
    margin-right: 0;
}

.pagination__item:first-child {
    margin-left: 30px;
    margin-right: auto;
}

.pagination__item:last-child {
    margin-right: 30px;
    margin-left: auto;
}

.pagination__link {
    color: #444444;
    opacity: 0.3;
    text-decoration: none;
}

.pagination__link--prev, 
.pagination__link--next {
    padding-top: 26px;
    padding-bottom: 25px;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    opacity: 1;
}

.pagination__link--disabled {

}

.pagination-current {

}